<div id="<%= dom_id locals[:user] %>" class="px-1 px-md-2 py-3 d-flex justify-content-between align-items-center">
  <%= link_to (user_path(locals[:user])), class: "no-decoration text-dark" do %>
    <div class="d-flex justify-start align-items-center">
      <div>
        <%= image_tag user_avatar(locals[:user]), style: "width: 50px; height: 50px; border-radius: 100%; object-fit: cover;" %>
      </div>
      <div>
        <% if locals[:name] %>
          <div class="mx-2 d-flex justify-center align-items-center">
            <%= locals[:user].name %>
            <% if locals[:user].has_role?(:verifeid) %>
              <i class="fa fa-check-circle text-primary mx-2" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
        <% if locals[:username] %>
          <div class="mx-2 d-flex justify-center align-items-center text-secondary">
            <%= locals[:user].username %>
          </div>
        <% end %>
        <% if locals[:status] %>
          <div class="mx-2 d-flex justify-center align-items-center text-secondary">
            <%= locals[:user].status %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if locals[:follows] && current_user && (locals[:user].id != current_user.id) %>
    <% if current_user.followees.include?(locals[:user]) %>
      <%= button_to unfollow_user_path(locals[:user]), method: :post, class: 'btn btn-sm btn-outline-primary' do %>
        Unfollow <i class="fa fa-user-xmark mx-1" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= button_to follow_user_path(locals[:user]), method: :post, class: 'btn btn-sm btn-primary' do %>
        Follow <i class="fa fa-user-plus mx-1" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
