<!-- move to stylesheets files -->
  <style>
    @media(max-width: 2000px){
      .content-row{
        height: 250px;
      }
      .content-row .content{
        height: 250px;
      }
    }
    @media(max-width: 760px){
      .content-row{
        height: 150px;
      }
      .content-row .content{
        height: 150px;
      }
    }
    @media(max-width: 430px){
      .content-row{
        height: 100px;
      }
      .content-row .content{
        height: 100px;
      }
    }
  </style>
<!-- move to stylesheets files -->
<div class="container">
  <%= link_to pictures_path do %>
    <h5 class="m-2"><i class="fa fa-circle-chevron-left" aria-hidden="true"></i> Home</h5>
  <% end %>
  <div class="card">
    <div class="card-header">
      <div>
        <%= render 'users/user_preview', locals: { user: @user, name: true } %>
        <% if (current_user && current_user.id == @user.id ) %>
          <div>
            <%= link_to edit_user_registration_path, class: 'btn btn-primary' do %>
              Edit Profile <i class="fa fa-pencil-square text-white" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="d-flex w-100 justify-content-around">
        <%= link_to user_followers_path(@user), class: 'no-decoration text-dark d-flex flex-column text-center' do %>
          <h5 class="no-decoration text-dark d-flex flex-column text-center"><%= number_to_human(@user.followers.count) %><span>followers</span></h5>
        <% end %>
        <%= link_to user_followees_path(@user), class: 'no-decoration text-dark d-flex flex-column text-center' do %>
          <h5 class="no-decoration text-dark d-flex flex-column text-center"><%= number_to_human(@user.followees.count) %><span>following</span></h5>
        <% end %>
        <h5 class="no-decoration text-dark d-flex flex-column text-center"><%= @pictures.count %><span>Posts</span></h5>
      </div>
    </div>
    <div class="card-body">
      <% if @pictures.count > 0 %>
        <h4><%= "#{@user.name}'s pictures" %></h4>
        <div class="grid">
            <% @pictures.each_with_index do |picture, index| %>
              <% if index %3 == 0%>
                </div>
                <div class="row row-cols-3 content-row">
              <% end %>
              <%= link_to picture, class: "p-0 border-1 content" do %>
                <%= image_tag picture.photo, class: "border w-100 h-100", style: "object-fit: cover;" %>
              <% end %>
            <% end %>
            </div>
        </div>
      <% else %>
        <h2><%= "#{@user.name} haven't any picture yet :l" %></h2>
      <% end %>
    </div>
  </div>
</div>
