<div class="container mt-4">
  <div class="container-sm d-flex d-flex-columnumn justify-center align-middle">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control w-100", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control w-100", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="actions mb-4">
        <%= f.submit "Log in", class: "btn btn-primary btn-lg w-100" %>
      </div>
    <% end %>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
