<div id="<%= dom_id picture %>" class="d-flex d-flex-column border-t-2 border-gray-200">
  <div class="w-full">
    <div class="w-full pb-3 d-flex d-flex-column">
      <div class="px-2 text-dark">
        <%= render 'users/user_icon', user: picture.user, name: true %>
      </div>
      <div class="w-full border-y-2 border-gray-100">
        <% if picture.photo.attached? %>
          <%= image_tag picture.photo, class: 'w-full h-54' %>
        <% end %>
      </div>
      <div class="px-2 pt-1">
        <%= link_to picture do %>
          <strong><%= picture.user.name %></strong> <%= picture.legend[..40] %> <b>see more...</b>
        <% end %>
      </div>
    </div>
  </div>
</div>
